---
const {navData} = Astro.props;
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---
<ul>
  <li>
    <a href={translatePath('/')}>
      {t('nav.home')}
    </a>
  </li>
  <li>
    <a href={translatePath('/reserveren/')}>
      {t('nav.book')}
    </a>
  </li>
  <li>
    <a href={translatePath('/appartement/')}>
      {t('nav.apartment')}
    </a>
  </li>
  <li>
    <a href={translatePath('/overons/')}>
      {t('nav.about_us')}
    </a>
  </li>

</ul>
<hr/>
{navData && <nav>
  <ul>
    {navData.map(navItem => (
      (<li><a href={navItem.slug} >{navItem.title}</a></li>)
    ))}
  </ul>
</nav> }

<style>
  nav {
    display: flex;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  nav ul li a {
    text-decoration: none;
    margin-right: 1rem;
    color: inherit;
    opacity: 0.72;
    transition: opacity linear 150ms;
  }
  nav ul li a:hover {
    opacity: 1;
  }
  @media(max-width: 600px) {
    nav {
      display: none;
    }
  }
</style>
