---
// import { Carousel, Photo } from "~";
import { Carousel, Photo } from 'astro-carousel';
import type { ComponentProps } from "astro/types";

const images: ComponentProps<typeof Carousel>["images"] = [
	{
		src: "/assets/images/album/IMG_9564-scaled-e1653814889512-1240x930.jpeg",
		alt: "Bedroom 1",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/1.Buiten8.jpg",
		alt: "Buiten",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/1.Buiten9.jpg",
		alt: "Buiten",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},

	{
		src: "/assets/images/album/2.Slaapkamer1.jpg",
		alt: "Bedroom 1",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/2.Slaapkamer2.jpg",
		alt: "Bedroom 2",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/2.Slaapkamer3.jpg",
		alt: "Bedroom 3",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/3.Slaapkamer1.jpg",
		alt: "Bedroom 1",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/3.Slaapkamer2.jpg",
		alt: "Bedroom 2",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/3.Slaapkamer3.jpg",
		alt: "Bedroom 3",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/3.Slaapkamer4.jpg",
		alt: "Bedroom 4",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/3.Slaapkamer5.jpg",
		alt: "Bedroom 5",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/3.Slaapkamer6.jpg",
		alt: "Bedroom 6",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/3.Slaapkamer7.jpg",
		alt: "Bedroom 7",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/4.Keuken1.jpg",
		alt: "Kitchen 1",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/4.Keuken2.jpg",
		alt: "Kitchen 2",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/4.Keuken3.jpg",
		alt: "Kitchen 3",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/4.Keuken4.jpg",
		alt: "Kitchen 4",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/4.Keuken5.jpg",
		alt: "Kitchen 5",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/4.Keuken6.jpg",
		alt: "Kitchen 6",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/4.Keuken8.jpg",
		alt: "Kitchen 8",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/5.Woonkamer1.jpg",
		alt: "Living Room 1",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/5.Woonkamer2.jpg",
		alt: "Living Room 2",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/5.Woonkamer3.jpg",
		alt: "Living Room 3",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/5.Woonkamer4.jpg",
		alt: "Living Room 4",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/6.Badkamer1.jpg",
		alt: "Bathroom 1",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/6.Badkamer2.jpg",
		alt: "Bathroom 2",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/6.Badkamer3.jpg",
		alt: "Bathroom 3",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/7.Hal1.jpg",
		alt: "Hall 1",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/7.Hal2.jpg",
		alt: "Hall 2",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/7.Hal3.jpg",
		alt: "Hall 3",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
];
---
<Carousel images={images} />
<ul
	class="entry__entries"
	id="carouselTargetList"
>
	{
		images.map((img, i) => {
			return (
				<li class="entry__elem">
					<a
						title="Open image"
						href={`./?image=${i}`}
						data-carousel-index={i}
						class="entry__link"
					>
						<Photo {...img} />
					</a>
				</li>
			);
		})
	}
</ul>

<style lang="scss">
  .entry {
    &__entries {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__elem {
      &:hover {
        cursor: pointer;
      }
    }

    &__img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      min-height: 100%;
    }

    &__link {
      display: block;
    }
  }
</style>
