---
// import { Carousel, Photo } from "~";
import { Carousel, Photo } from 'astro-carousel';
import type { ComponentProps } from "astro/types";

const images: ComponentProps<typeof Carousel>["images"] = [
	{

		src: "/assets/images/album/2.Slaapkamer3-1240x827.jpg",
		alt: "",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/3.Slaapkamer5-1240x827.jpg",
		alt: "",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/IMG_9564-scaled-e1653814889512-1240x930.jpeg",
		alt: "",
		width: 1350,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/assets/images/album/IMG_9566-scaled-e1653814475232-1240x930.jpeg",
		alt: "",
		width: 1280,
		height: 1920,
		widths: [200, 675, 1350],
	},
];
---
<Carousel images={images} />
<ul
	class="entry__entries"
	id="carouselTargetList"
>
	{
		images.map((img, i) => {
			return (
				<li class="entry__elem">
					<a
						href={`./?image=${i}`}
						data-carousel-index={i}
						class="entry__link"
					>
						<Photo {...img} />
					</a>
				</li>
			);
		})
	}
</ul>

<style lang="scss">
  .entry {
    &__entries {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__elem {
      &:hover {
        cursor: pointer;
      }
    }

    &__img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      min-height: 100%;
    }

    &__link {
      display: block;
    }
  }
</style>
