---
import ContactForm from '../components/forms/ContactForm.astro';
import Layout from '../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';
import GoogleMap from '../components/maps/GoogleMap.astro';

const seo = {
	title: 'Contact | B&B Bosserheode',
	description: 'Neem contact op met B&B Bosserheide voor vragen of reserveringen. Wij staan voor u klaar via telefoon of e-mail.'
};
---
<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Neem contact met ons op</h1>
				<p>
					Wilt u meer weten over uw verblijf bij B&B Bosserheide? Wij staan voor u klaar! Of u nu vragen heeft
					over de beschikbaarheid, speciale wensen wilt bespreken, of tips zoekt voor de prachtige omgeving,
					we helpen u graag verder.
				</p>
				<p>U kunt ons telefonisch bereiken of per e-mail.
					Wij streven ernaar om zo snel mogelijk te reageren, zodat u zich kunt verheugen op een ontspannen
					verblijf.</p>
				<div>
					<p>
						<em><a href="tel:+31638116823">+31 6 38 11 68 23</a></em> • <em>
						<a href="mailto:info@bosserheide.nl">info@bosserheide.nl</a>
					</em>
					</p>
				</div>
			</div>
			<div class="col-2__container">
				<GoogleMap />
			</div>
		</section>
	</Container>
</Layout>

<style>
    .contact-hero__section {
        margin: var(--section-margin) auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: calc(90vh - var(--navbar-height));
        gap: 3rem;
    }

    .contact-hero__text-section {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--theme-surface-1);
        border-radius: var(--theme-shape-radius);
    }

    .col-2__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: 768px) {
        .contact-hero__section {
            grid-template-columns: 1fr;
        }
    }
</style>
