---
import { Container, StickyTextImageSection } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import GeneralCarousel from '../components/image-carousels/GeneralCarousel.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section id="fotos">
			<GeneralCarousel></GeneralCarousel>
		</section>
	</Container>

	<StickyTextImageSection>
		<div slot="text-container">
			<h2>Omgeving</h2>
			<h3>Bosserheide</h3>
			<p>
				B&B Bosserheide ligt samen met de moderne schuurwoning van de beheerder op
				een woonerf van ruim 1 ha in het Noord-Limburgse dorpje Well midden in het
				nationaal park ‘De Maasduinen’ op 400 meter gelegen van het Reindersmeer.
			</p>
			<h3>Reindersmeer</h3>
			<p>
				Het Reindersmeer is een belangrijke, natuurlijke schakel tussen de Bergerheide in Well en De Hamert in Wellerlooi. Het meer is 130 hectare groot.
			</p>
			<h3>Leukermeer</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<picture slot="image-container">
			<img
				src="https://bosserheide.nl/wp-content/uploads/2022/05/IMG_9566-scaled-e1653814475232.jpeg"
				alt="Astro Odyssey"
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>


</Layout>

<style>
    .feature-card__section {
        margin: var(--section-margin) auto;
    }
    .feature-card__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--theme-grid-gap);
    }
    @media (max-width: 768px) {
        .feature-card__grid {
            grid-template-columns: 1fr;
        }
    }
</style>
