---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Over Ons | B&B Bosserheide',
	description: 'Over ons pagina',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Welkom bij B&B Bosserheide</h1>
			<p>
				Ontlaad, kom tot rust, geniet. <br/>
				Maak mooie herinneringen en voel je thuis in onze B&B
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/familie_foto.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
		Mijn naam is Tamar van Dijken en ik woon sinds 2018 met mijn grote liefde Alwin van Dijken en onze dochter Annabel op onze droomplek in het dorpje Well in Limburg, midden in natuurgebied de Maasduinen.

	  </p>
	  	<p>

		Wij zijn hier in 2018 komen wonen, ik was toen hoogzwanger van onze dochter Annabel en na met man en macht te hebben gewerkt aan de nieuwbouw van ons droomhuis en de verbouwing van de -naast ons huis gelegen- woning waren we er helemaal klaar voor; de start van onze eigen B&B!
		</p>
	  <p>

		We vinden het fijn om deze prachtige plek met onze gasten te delen en ervoor te zorgen dat het ze aan niets ontbreekt. Met veel passie zorgen wij ervoor dat ze kunnen genieten van een fijn verblijf in een mooi, knus en modern ingericht huisje midden in de natuur met voldoende privacy, rust en ruimte.
	</p>

  </TextSection>
</Layout>
