---
import { Container, StickyTextImageSection } from '@components/odyssey-theme';

import Layout from '../../layouts/Page.astro';
import HomeHeroSection from '../../components/sections/heros/HomeHeroSection.astro';
import GeneralCarousel from '../../components/image-carousels/GeneralCarousel.astro';

import reindersmeer_regenboog from '/assets/reindersmeer_regenboog.jpg';
import leukermeer_luchtfoto from '/assets/leukermeer_luchtfoto.jpg';
import { Image } from 'astro:assets';

const seo = {
	title: 'Willkommen bei B&B Bosserheode | Bosserheide 35, Well (L)',
	description: 'Erleben Sie einen unvergesslichen Aufenthalt im B&B Bosserheode. Ruhe und Natur erwarten Sie in der wunderschönen Umgebung von Well.'
};
---
<Layout seo={seo}>
	<HomeHeroSection />
	<Container>
		<section id="fotos">
			<GeneralCarousel></GeneralCarousel>
		</section>
	</Container>

	<StickyTextImageSection>
		<div slot="text-container">
			<h3>Reindersmeer</h3>

			<p>Der Leukermeer ist ein ideales und beliebtes Ziel für Wassersportler und Erholungssuchende, nur eine
				kurze
				Entfernung von unserem B&B entfernt. Dieser vielseitige See bietet eine Vielzahl von Aktivitäten für
				Jung
				und Alt und ist bekannt für seine zwei wunderschönen Yachthäfen und den einladenden Tagesstrand. Ob du
				ein
				leidenschaftlicher Wassersportler bist oder einfach nur am Wasser entspannen möchtest, der Leukermeer
				hat
				für jeden etwas zu bieten.</p>

			<p>Die Möglichkeiten am Leukermeer sind endlos. Du kannst im klaren Wasser schwimmen oder dein Gleichgewicht
				bei einer SUP-Session testen. Für diejenigen, die lieber aufs Wasser hinaus möchten, gibt es zahlreiche
				Möglichkeiten zum Segeln, Kajakfahren oder um die Umgebung mit einem Tretboot zu erkunden. Hast du Lust
				auf
				eine entspannte Bootsfahrt? Miete ein Boot und genieße die Ruhe auf dem Wasser. Auch Angler finden am
				Leukermeer ihren Lieblingsplatz, dank der fischreichen Gewässer und der ruhigen Umgebung.</p>

			<p>Rund um den See findest du verschiedene Wanderwege, die zu einem entspannten Spaziergang entlang des
				Ufers
				einladen, wo du die wunderschöne Aussicht auf das Wasser genießen kannst. Die Umgebung ist ideal für
				einen
				ruhigen Tag in der Natur, bei dem du am Tagesstrand oder entlang der Promenade entspannen kannst.
				Darüber
				hinaus gibt es mehrere gastronomische Einrichtungen rund um den See, in denen du bei einem Snack und
				einem
				Getränk verweilen kannst. Mit dem herrlichen Blick auf das Wasser ist dies der perfekte Ort, um zur Ruhe
				zu
				kommen.</p>

			<p>Der Leukermeer ist ein Ort, an dem du den ganzen Tag über sowohl Entspannung als auch Abenteuer genießen
				kannst. Ob du den Sonnenaufgang bei einem frühen Morgenspaziergang beobachtest, den Tag auf dem Wasser
				verbringst oder den Abend mit einem Abendessen am Wasser abschließt, während du den Sonnenuntergang
				genießt—hier schaffst du Erinnerungen, die bleiben. Während deines Aufenthalts in unserem B&B ist ein
				Besuch am Leukermeer auf jeden Fall empfehlenswert!</p>


		</div>
		<picture slot="image-container">
			<Image
				src={reindersmeer_regenboog}
				alt="Reindersmeer met regenboog"
			/>
		</picture>
	</StickyTextImageSection>

	<StickyTextImageSection>
		<div slot="text-container">
			<h3>Leukermeer</h3>

			<p>Der Leukermeer ist ein ideales und beliebtes Ziel für Wassersportler und Erholungssuchende, nur eine
				kurze
				Entfernung von unserer B&B. Dieser vielseitige See bietet eine breite Palette von Aktivitäten für alle
				Altersgruppen und ist bekannt für seine zwei wunderschönen Yachthäfen und den einladenden Tagesstrand.
				Ob du ein
				leidenschaftlicher Wassersportler bist oder einfach nur am Wasser entspannen möchtest, der Leukermeer
				hat für jeden etwas zu bieten.</p>

			<p>Die Möglichkeiten am Leukermeer sind endlos. Du kannst im klaren Wasser schwimmen oder dein Gleichgewicht
				bei einer Paddleboarding-Session testen. Für diejenigen, die lieber aufs Wasser hinaus möchten, gibt es
				zahlreiche
				Möglichkeiten zum Segeln, Kajakfahren oder um die Umgebung mit einem Tretboot zu erkunden. Hast du Lust
				auf eine
				entspannte Bootsfahrt? Miete ein Boot und genieße die Ruhe auf dem Wasser. Der Leukermeer ist auch ein
				gefragter Ort für Angler, dank seiner fischreichen Gewässer und der friedlichen Umgebung.</p>

			<p>Rund um den See findest du verschiedene Wanderwege, die zu einem entspannten Spaziergang entlang des
				Ufers
				einladen, wo du die wunderschöne Aussicht auf das Wasser genießen kannst. Die Umgebung ist perfekt für
				einen
				ruhigen Tag in der Natur, an dem du am Tagesstrand oder entlang der Promenade entspannen kannst. Darüber
				hinaus gibt es mehrere
				gastronomische Einrichtungen rund um den See, wo du einen Snack und ein Getränk genießen kannst. Mit dem
				atemberaubenden Blick auf das Wasser ist dies der perfekte Ort zum Entspannen.</p>

			<p>Der Leukermeer ist ein Ort, an dem du den ganzen Tag über sowohl Entspannung als auch Abenteuer genießen
				kannst. Ob du den Sonnenaufgang bei einem frühen Morgenspaziergang beobachtest, den Tag auf dem Wasser
				verbringst oder den Abend mit einem Abendessen am See ausklingen lässt, während du den Sonnenuntergang
				bewunderst—dies ist ein Ort,


		</div>
		<picture slot="image-container">
			<Image
				src={leukermeer_luchtfoto}
				alt="Reindersmeer mit Regenbogen"
			/>
		</picture>
	</StickyTextImageSection>

</Layout>

<style>
    .feature-card__section {
        margin: var(--section-margin) auto;
    }

    .feature-card__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--theme-grid-gap);
    }

    @media (max-width: 768px) {
        .feature-card__grid {
            grid-template-columns: 1fr;
        }
    }
</style>
