---
import Layout from '../../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';
import GoogleMap from '../../components/maps/GoogleMap.astro';

const seo = {
	title: 'Kontakt | B&B Bosserheode',
	description: 'Kontaktieren Sie B&B Bosserheode für Fragen oder Buchungen. Wir sind telefonisch oder per E-Mail erreichbar.'
};
---
<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Kontaktieren Sie uns</h1>
				<p>
					Möchten Sie mehr über Ihren Aufenthalt im B&B Bosserheode erfahren? Wir sind für Sie da! Ob Sie
					Fragen
					zur Verfügbarkeit haben, spezielle Wünsche besprechen möchten oder Tipps für die schöne Umgebung
					suchen,
					wir helfen Ihnen gerne weiter.
				</p>
				<p>Sie können uns telefonisch oder per E-Mail erreichen.
					Wir bemühen uns, so schnell wie möglich zu antworten, damit Sie sich auf einen erholsamen Aufenthalt
					freuen können.
				</p>
				<div>
					<p>
						<em><a href="tel:+31638116823">+31 6 38 11 68 23</a></em> • <em>
						<a href="mailto:info@bosserheide.nl">info@bosserheide.nl</a>
					</em>
					</p>
				</div>
			</div>
			<div class="col-2__container">
				<GoogleMap />
			</div>
		</section>
	</Container>
</Layout>

<style>
    .contact-hero__section {
        margin: var(--section-margin) auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: calc(90vh - var(--navbar-height));
        gap: 3rem;
    }

    .contact-hero__text-section {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--theme-surface-1);
        border-radius: var(--theme-shape-radius);
    }

    .col-2__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: 768px) {
        .contact-hero__section {
            grid-template-columns: 1fr;
        }
    }
</style>
